<div class="modal-header">
  <h4 class="modal-title">Редактирование поста</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label for="content">Текст статьи</label>
  <textarea class="form-control" id="content" rows="5" [(ngModel)]="post.content"></textarea>

  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-danger" (click)="deletePost(post)" >Удалить</button>
  <button type="button" class="btn btn-dark" (click)="dialogWindowGlose()" >Отмена</button>
  <button type="button" class="btn btn-success" (click)="onConfirm()">Ок</button>

</div>
