<ul class="nav flex-column flex-nowrap sticky-top">
  <li class="nav-item pointer"><a class="nav-link menu-title" routerLink="/home">Главная</a></li>
  <li class="nav-item pointer"><a class="nav-link menu-title" href="#">Поиск</a></li>
  <li class="nav-item pointer"><a class="nav-link menu-title" href="#">Уведомления</a></li>
  <li class="nav-item pointer"><a class="nav-link menu-title" href="#">Сообщения</a></li>
  <li class="nav-item pointer"><a class="nav-link menu-title" href="#">Закладки</a></li>
  <li class="nav-item pointer"><a class="nav-link menu-title" href="#">Списки</a></li>
  <li class="nav-item pointer"><a class="nav-link menu-title" href="#">Профиль</a></li>
  <li class="nav-item pointer"><a class="nav-link menu-title" href="#">Еще</a></li>
  <li class="nav-item pointer"><a class="nav-link menu-title" routerLinkActive="active" routerLink="/login">Login</a></li>
  <li class="nav-item pointer"><a class="nav-link menu-title" routerLinkActive="active" routerLink="/logout" (click)="logout()">Logout</a></li>
</ul>
