.post{
  font-size: 14px;
}
.ramka {
  border: 1px solid black; /* Толщина рамки в пикселах,
                           тип границы (в данном случае сплошная линия) и
                           цвет линии */
  padding: 5px; /* Расстояние от текста до рамки */
}
.fa{
  cursor: pointer;
}
